[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabulate = "*"
ipykernel = "*"
import-ipynb = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.12"
